# Cấu hình nền RetroArch do Game Center dùng khi sinh Config/retroarch.cfg lần đầu.
# Game Center luôn ghi đè các khóa nó quản lý (thư mục, fullscreen, tổ hợp thoát game...),
# các khóa khác người dùng chỉnh trong RetroArch được giữ nguyên.
menu_driver = "ozone"
user_language = "15"
video_vsync = "true"
video_smooth = "false"
video_scale_integer = "false"
aspect_ratio_index = "22"
audio_enable = "true"
audio_volume = "0.000000"
input_max_users = "2"
input_player1_analog_dpad_mode = "1"
savestate_thumbnail_enable = "false"
network_cmd_enable = "false"
check_firmware_before_loading = "false"
content_show_playlists = "false"
menu_show_load_content_animation = "false"
video_font_size = "32.000000"
